.myButton {
	background:linear-gradient(to bottom, #050505 5%, #9c979c 100%);
	background-color:#050505;
	border-radius:18px;
	border:2px solid #adadad;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:11px 12px;
	text-decoration:none;
	text-shadow:0px 0px 9px #7a2a1d;
}
.myButton:hover {
	background:linear-gradient(to bottom, #9c979c 5%, #050505 100%);
	background-color:#9c979c;
}
.myButton:active {
	position:relative;
	top:1px;
}
