{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Shopping Cart Checkout Widget</title>

  <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->


<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
 <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

   <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="{% static 'css4/bootstrap-iso.css' %}">

<link rel="stylesheet" href="{% static 'css4/style.css' %}">
</head>


<div >
<div class="bootstrap-iso">
 <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
       <header>


        <div class="header-area "  style="background-color:black;">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-5 col-lg-5">
                            <div class="main-menu  d-none d-lg-block">
                               <nav>
                                    <ul id="navigation">
                                        <li><a  class="active"   href="index.html"  >home</a></li>
                                        <li><a href="menu.html">Menu</a></li>
                                        <li><a href="about.html">About</a></li>
                                        {% if flag == 0 %}

                                        <li><a href="#">Hello, Sign in? <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="login.html">Sign in</a></li>
                                                <li><a href="register.html">New Customer? Register</a></li>
                                                <li><a href="http://127.0.0.1:8000/admin/" target="_blank" >Employee Login</a></li>
                                            </ul>
                                        </li>

                                        {% else %}
                                        <li><a href="#">Hello, {{usern}} <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="logout">Logout</a></li>
                                            </ul>
                                        </li>


                                        {% endif %}
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                               </nav>
                            </div>
                        </div>

                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="index.html">
                                    <img src="{% static 'img/logo.png' %}" alt="">
                                </a>
                            </div>
                        </div>

                        <div class="col-xl-5 col-lg-5 d-none d-lg-block">
                            <div class="book_room">
                                <div class="socail_links">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="book_btn d-none d-xl-block">
                                    <a class="#" href="#">+10 367 453 7382</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>    <!-- header-end -->

</div>

<br></br>
<br></br>


  <div class="cart">
    <div class="cart-top">
      <h3 class="cart-top-title">Checkout</h3>
      <div class="cart-top-info">3 items</div>
    </div>

    <ul>

      <li class="cart-item">
        <span class="cart-item-pic">
          <img src="http://upload.wikimedia.org/wikipedia/en/7/71/Justice_-_Cross_%282007%29.jpg">
        </span>
        Item #2
        <span class="cart-item-desc">Description</span>
        <span class="cart-item-price">$15.00</span>
      </li>
      <li class="cart-item">
        <span class="cart-item-pic">
          <img src="http://upload.wikimedia.org/wikipedia/en/c/c4/The_Matrix_Revolutions_-_Music_From_The_Motion_Picture.jpeg">
        </span>
        Item #3
        <span class="cart-item-desc">Description</span>
        <span class="cart-item-price">$23.00</span>
      </li>
    </ul>

    <div class="cart-bottom">
      Total: $54.80
      <a href="#" class="cart-button">Continue</a>
    </div>
  </div>
</div>
    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/ajax-form.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/scrollIt.js' %}"></script>
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>

    <!--contact js-->
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" ></script>
</div>
</body>
</html>
